<div class="container-fluid .text-secondary font-weight-bold border bg-light text-aligh:center">
  <br>
  <h2> Interactive tips </h2>
  <li>Select Catagories which will give you chart of <a>InterState</a> and <a>IntraState</a></li>
  <li>Select on labels of line, the line will show</li>
  <li>Click on the Guild Line,the you could use the assistant line to see the chart</li>
  <br>
  </div>
<div class="selection-row">
  <br>
  <mat-form-field style="margin-left:20px">
    <mat-select placeholder="Category" [(value)]="category" (selectionChange)="reRenderChart($event)">
      <mat-option *ngFor ="let copt of categoryOptions" [value]='copt.value'>
        {{copt.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="button" class="btn btn-outline-dark" id="guide_line_button">Guide Line</button>
</div>

<div id="daily-risk-div"></div>
