<div class="container-fluid .text-secondary font-weight-bold border bg-light text-aligh:center">
  <br><br>
  <h2> Interactive tips </h2>
  <li>Click on the bubble of packing layout, the pie chart will show corresponding ratio of its children class</li>

  <li>Mouse over on bubble, tooltip will show</li>

  <br><br>
  </div>

<div style="text-align:center;">
  <div id="danger-ratio-div" style="display:inline-block" class= " .text-secondary font-weight-bold"></div>
  <div id="danger-control-div" style="display:inline-block"class =" .text-secondary font-weight-bold"></div>
  
</div>
