<h1>Meet the Team Datum!</h1>

<div id="description">
  <div>
    <img src="https://raw.githubusercontent.com/RqS/European-soccer-vis/master/img/rqs.png" class="rounded float-left" alt="...">
    <p>
      description
    </p>
    <p>
      description
    </p>
    <p>
      description
    </p>
  </div>
  
  <div>
    <img src="https://raw.githubusercontent.com/RqS/European-soccer-vis/master/img/rqs.png" class="rounded float-middle" alt="...">
    <p>
      description
    </p>
    <p>
      description
    </p>
    <p>
      description
    </p>

  </div>

  <div>
    <img src="https://raw.githubusercontent.com/RqS/European-soccer-vis/master/img/rqs.png" class="rounded float-right" alt="...">
    <p>
      description
    </p>
    <p>
      description
    </p>
    <p>
      description
    </p>
  </div>
</div>


